# Gradle
.gradle/
build/
local.properties

# Android Studio / IntelliJ
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/

# Signing
*.jks
*.keystore
signing.properties

# Logs
*.log

# OS
.DS_Store
Thumbs.db
